<section class="section">
  <div class="wrap">
    <div class="split split--image-right">
      <div class="split__media">
        <img src="/assets/img/opportunities.png"
             alt="Students collaborating and studying">
      </div>

      <div class="split__text">
        <h2>About Humanities Data Inquiry (HDI)</h2>


        <p>The Humanities Data Inquiry (HDI) is an SSHRC-funded initiative that helps Humanities
             and Cultural Heritage (HCH) researchers adapt Open and FAIR (Findable, Accessible,
             Interoperable, and Reusable) data practices to their unique needs. The partnership
             aims to prototype and mobilize a new approach to developing and disseminating primary
             source HCH research data using FAIR principles. By adapting workflows, infrastructure,
             and tools originally designed for big data STEM projects, HDI demonstrates how they
             can be tailored to support the smaller-scale, argument-driven nature of HCH research.
             Through a working group (DISCOVER), inter-project collaboration (DEMONSTRATE), and
             knowledge-sharing events (MOBILISE), HDI fosters sustainable data practices, enhances
             research methods, and ensures long-term accessibility of cultural data.</p>

        <a href="/About/" class="btn btn--outline">Learn more</a>
      </div>
    </div>
  </div>
</section>